<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tmradio.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:launchMode="singleTask"
            android:name=".TmradioActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.AUDIO_SHUT_UP" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.AUDIO_META_UPDATED" />
            </intent-filter>
	        <intent-filter>
	            <action android:name="android.intent.action.VIEW" />
	            <category android:name="android.intent.category.DEFAULT" />
	            <data android:scheme="skype" />
	        </intent-filter>            
			<intent-filter android:priority="0">
	            <action android:name="android.intent.action.CALL_PRIVILEGED" />
	            <category android:name="android.intent.category.DEFAULT" />
	            <data android:scheme="tel" />
	        </intent-filter>	        
        </activity>

        <activity android:launchMode="singleTask" android:name=".ChatActivity" ></activity>
        <activity android:name=".ConfigActivity"></activity>
        
        <service android:enabled="true" android:name=".PlayerService"></service>
        <service android:enabled="true" android:name=".VotingService"></service>
        <service android:enabled="true" android:name=".ChatMessageSendingService"></service>
        <service android:enabled="true" android:name=".MetaUpdateService"></service>        
        <service android:enabled="true" android:name=".ChatUpdateService"></service>        
        
		<receiver android:name=".MusicIntentReceiver">
		   <intent-filter>
		      <action android:name="android.media.AUDIO_BECOMING_NOISY" />
		   </intent-filter>
		   <intent-filter>
		      <action android:name="android.media.META_UPDATED" />
		   </intent-filter>
		</receiver>
    </application>   
</manifest>